
.Gender  {
	background: rgba(0, 0, 0, 0.5);
}

.Gender svg {
	fill:white;
	letter-spacing: normal;
	text-transform: uppercase;
	opacity: 1;
	font-family: sans-serif;
}
/*
.Gender .label {
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 2;
}
*/
/*.Gender .label_indicator {
	stroke: white; 
	stroke-width: 1.8px;
}
*/

.Gender path.slice{
	stroke-width:2px;
}

.Gender polyline{
	opacity: 1;
	stroke: white;
	stroke-width: 3px;
	fill: none;
}

