
.Rating  {
	background: rgba(0, 0, 0, 0.5);
}

.Rating svg {
	fill:white;
	stroke: white;
	letter-spacing: normal;
	text-transform: uppercase;
	font-size: medium;
	opacity: 1;
	font-family: sans-serif;
}


.Rating .label {
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 2;
	fill:white;
	stroke-width: 0.1px;
}

.Rating .labels {
	font-size: 20px ;
	text-transform: uppercase;
	letter-spacing: 20;
	fill:white;
	stroke-width: 0.1px;
}

.Rating .myYaxis path {
	stroke: white;
	stroke-width: 0.8px;
}

.Rating .myYaxis line {
	stroke: white;
	stroke-width: 0.8px;
}

.Rating .myYaxis text {
	fill:white;
	stroke-width: 0.1px;
}

.Rating .myXaxis line {
	stroke: white;
	stroke-width: 0.8px;
}

.Rating .myXaxis path {
	stroke: white;
	stroke-width: 0.8px;
}

.Rating .myXaxis text {
	fill:white;
	stroke-width: 0.1px;
}
