
.World  {
	background: rgba(0, 0, 0, 0.5);
}

.World svg {
	fill:white;
	stroke: white;
	letter-spacing: normal;
	text-transform: uppercase;
	font-size: medium;
	opacity: 1;
	font-family: sans-serif;
}


.World text {
	font-size: small;
	text-transform: uppercase;
	letter-spacing: 10;
	stroke: none;

}
/*
.World .mean {
	stroke: red;
	stroke-width: 7px;
	text-transform: uppercase;
}*/
/*
.Budget .myYaxis path {
	stroke: white;
	stroke-width: 0.8px;
}

/*.World .myYaxis line {
	stroke: white;
	stroke-width: 0.8px;
}

.World .myYaxis text {
	stroke: white;
	/*stroke-width: 0.8px;*/
/*}*/


/*

.World .names {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}
*/
